<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questions">
            <h2><span jhiTranslate="aplicacaoApp.questions.detail.title">Questions</span> {{questions.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aplicacaoApp.questions.name">Name</span></dt>
                <dd>
                    <span>{{questions.name}}</span>
                </dd>
                <dt><span jhiTranslate="aplicacaoApp.questions.description">Description</span></dt>
                <dd>
                    <span>{{questions.description}}</span>
                </dd>
                <dt><span jhiTranslate="aplicacaoApp.questions.type">Type</span></dt>
                <dd>
                    <span>{{questions.type}}</span>
                </dd>
                <dt><span jhiTranslate="aplicacaoApp.questions.order">Order</span></dt>
                <dd>
                    <span>{{questions.order}}</span>
                </dd>
                <dt><span jhiTranslate="aplicacaoApp.questions.require">Require</span></dt>
                <dd>
                    <span>{{questions.require}}</span>
                </dd>
                <dt><span jhiTranslate="aplicacaoApp.questions.matchings">Matchings</span></dt>
                <dd>
                    <div *ngIf="questions.matchingsId">
                        <a [routerLink]="['/matchings', questions.matchingsId, 'view']">{{questions.matchingsId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/questions', questions.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
