<div>
    <h2 id="page-heading">
        <span jhiTranslate="aplicacaoApp.opportunities.home.title">Opportunities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-opportunities" [routerLink]="['/opportunities/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="aplicacaoApp.opportunities.home.createLabel">
            Create new Opportunities
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="opportunities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="opportunityCode"><span jhiTranslate="aplicacaoApp.opportunities.opportunityCode">Opportunity Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="opportunitiesType"><span jhiTranslate="aplicacaoApp.opportunities.opportunitiesType">Opportunities Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="aplicacaoApp.opportunities.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="aplicacaoApp.opportunities.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="area"><span jhiTranslate="aplicacaoApp.opportunities.area">Area</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="externalId"><span jhiTranslate="aplicacaoApp.opportunities.externalId">External Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="highlighted"><span jhiTranslate="aplicacaoApp.opportunities.highlighted">Highlighted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="aplicacaoApp.opportunities.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="aplicacaoApp.opportunities.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="aplicacaoApp.opportunities.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="aplicacaoApp.opportunities.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logoDesktopUrl"><span jhiTranslate="aplicacaoApp.opportunities.logoDesktopUrl">Logo Desktop Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logoMobileUrl"><span jhiTranslate="aplicacaoApp.opportunities.logoMobileUrl">Logo Mobile Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hiringType"><span jhiTranslate="aplicacaoApp.opportunities.hiringType">Hiring Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="slug"><span jhiTranslate="aplicacaoApp.opportunities.slug">Slug</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="customersId"><span jhiTranslate="aplicacaoApp.opportunities.customers">Customers</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let opportunities of opportunities ;trackBy: trackId">
                <td><a [routerLink]="['/opportunities', opportunities.id, 'view' ]">{{opportunities.id}}</a></td>
                <td>{{opportunities.opportunityCode}}</td>
                <td jhiTranslate="{{'aplicacaoApp.OpportunitiesTypeEnums.' + opportunities.opportunitiesType}}">{{opportunities.opportunitiesType}}</td>
                <td>{{opportunities.name}}</td>
                <td>{{opportunities.status}}</td>
                <td>{{opportunities.area}}</td>
                <td>{{opportunities.externalId}}</td>
                <td>{{opportunities.highlighted}}</td>
                <td>{{opportunities.description}}</td>
                <td>{{opportunities.startDate | date:'medium'}}</td>
                <td>{{opportunities.endDate | date:'medium'}}</td>
                <td>{{opportunities.quantity}}</td>
                <td>{{opportunities.logoDesktopUrl}}</td>
                <td>{{opportunities.logoMobileUrl}}</td>
                <td>{{opportunities.hiringType}}</td>
                <td>{{opportunities.slug}}</td>
                <td>
                    <div *ngIf="opportunities.customersId">
                        <a [routerLink]="['../customers', opportunities.customersId , 'view' ]" >{{opportunities.customersId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/opportunities', opportunities.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/opportunities', opportunities.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'opportunities/'+ opportunities.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="opportunities && opportunities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
